* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container{
    height: auto;
    min-height: 50%;
    width: 50%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
    background-color: #0e0e0e;
    box-shadow: 5px 5px 15px rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input{
    height: 18%;
    width: 100%;
}

.input input{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 50px;
    background-color: rgb(242, 242, 242);
    outline: none;
    padding: 20px;
    font-size: 20px;
    transition: all ease 0.5s;
    box-shadow: 3px 3px 10px rgb(49, 49, 49);
    background-color: rgb(29, 29, 29);
    color: #f7f7f7;
}

.input input:focus{
    background-color: #000000;
}

.timeDate{
    height: 35%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.para{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 40%;
}

.dueDateSelect, .dueTimeSelect{
    height: 100%;
    width: 50%;
    color: rgb(177, 177, 177);
    font-size: 1.2em;
    text-shadow: 2px 2px 10px rgb(144, 144, 144);
}
.subTimeDiv{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timeDateDivs{
    height: 100%;
    width: 30%;
    border-radius: 5px;
}
.timeDateDivs input{
    height: 100%;
    width: 100%;
    background-color: #0e0e0e;
    color: rgb(179, 179, 179);
    text-decoration-color: white;
    border: 2px solid rgb(70, 70, 70);
    outline: none;
    box-shadow: 2px 2px 5px rgb(89, 89, 89);
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(98%) sepia(980%) saturate(100%) hue-rotate(200deg);
  cursor: pointer;
}

.buttons{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    height: 100%;
    width: 30%;
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(80, 80, 80);
    font-size: 1.2em;
    color: rgb(171, 171, 171);
    border-radius: 5px;
    transition: all ease 0.5s;
    box-shadow: 2px 2px 10px rgb(93, 93, 93);
}

.buttons button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
}



/*  Tasks Section */
.tasksSection{
    height: auto;
    width: 50%;
    margin-top: 5%;
}
.task{
    height: 180px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all ease 2s;
    box-shadow: 2px 2px 10px rgb(65,65,65);
    color: rgb(232, 232, 232);
    position: relative;
}

.title{
    height: 40%;
    width: 60%;
    overflow: auto;
    font-size: 2em;
    font-weight: 600;
    padding: 5px;
}

.dueTime{
    height: 30%;
    width: 30%;
    position: absolute;
    top: 20px;
    right: 20px;
}
.status{
    height: 30%;
    width: auto;
    font-size: 16px;
    padding: 5px;
}

.subButtons{
    height: 25%;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.subButtons button{
    height: 100%;
    width: 30%;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(155, 155, 155);
    transition: all ease 0.5s;
    box-shadow: 2px 2px 5px rgb(84, 84, 84);
}
.subButtons button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(245, 245, 245);
}


.alert{
    height: 25%;
    width: 30%;
    border-radius: 5px;
    position: absolute;
    top: -50%;
    left: 35%;
    padding: 10px;
    text-align: center;
    transition: all ease 0.5s;
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
    background-color: #000000;
    color: rgb(235, 235, 235);
}

.alertP{
    height: 73%;
    width: 100%;
    text-shadow: 1px 1px 5px rgb(59, 59, 59);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
}

#resetbtn{
    height: 30%;
    width: 25%;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(33, 33, 33);
    border: 2px solid rgb(58, 58, 58);
    outline: none;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
    border-radius: 5px;
    font-size: 1em;
    color: rgb(130, 130, 130);
    transition: all ease 0.5s;
}

#resetbtn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(254, 254, 254);

}

.main.blur{
    filter: blur(5px);
    pointer-events: none;
}

.popup{
    height: 20%;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    transform: scale(0);
    position: fixed;
    top: 40%;
    left: 35%;
    transition: all ease 0.5s;
    box-shadow: 2px 2px 5px rgb(62, 62, 62);
    color: #e2e2e2;
}

.popup p{
    font-size: 20px;
    text-align: center;
}

.popup .popupButtons{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.popupButtons button{
    height: 100%;
    width: 20%;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(65, 65, 65);
    box-shadow: 2px 2px 5px rgb(51, 51, 51);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-size: 16px;
    padding: 5px;
    color: rgb(203, 203, 203);
}
.popupButtons button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}